<app-alert></app-alert>
<div class="imgcontainer">
  <h2 title>Staff Login</h2>
</div>
<div class="form-content">
  <label for="uname"><b>Username: </b></label>
  <input type="text" placeholder="Enter Username" name="uname" required /><br />

  <label for="department"><b>Department: </b></label>
  <input
    type="text"
    placeholder="Enter Department"
    name="uname"
    required
  /><br />

  <label for="psw"><b>Password: </b></label>
  <input
    type="password"
    placeholder="Enter Password"
    name="psw"
    required
  /><br />

  <button class="loginbtn" type="submit">Login</button><br />
  <label>
    <input type="checkbox" checked="checked" name="remember" /> Remember me
  </label>
</div>
