<form [formGroup]="staffLoginForm">
  <app-alert
    message="{{ alertMessage }}"
    [attr.class]="alertClassName"
    [display]="displayAlert"
  ></app-alert>
  <div class="imgcontainer">
    <h2 title>Staff Login</h2>
  </div>
  <div class="form-content">
    <label for="uname"><b>Username: </b></label><br>
    <app-input [control]="name" type="text" placeholder="Enter Username">
    </app-input>
    <label for="department"><b>Department:</b></label><br>
    <app-input
      type="text"
      placeholder="Enter Department"
      [control]="department"
    ></app-input
    ><br />
    <label for="psw"><b>Password: </b></label><br>
    <app-input
      type="password"
      placeholder="Enter Password"
      [control]="password"
    ></app-input
    ><br />

    <button
      class="loginbtn"
      (click)="login($event)"
      [disabled]="!staffLoginForm.valid"
    >
      Login</button
    ><br />
    <label>
      <input id="staffCB" type="checkbox" checked="checked" name="remember" /> Remember me
    </label>
  </div>
</form>
