<form [formGroup]="registerForm">
  <app-alert
    message="{{ alertMessage }}"
    [attr.class]="alertClassName"
    [display]="displayAlert"
  ></app-alert>
  <h2>SIGN UP</h2>
  <div class="formcontainer">
    <div class="container">
      <label for="fname"><strong>First Name</strong></label
      ><br />
      <app-input
        type="text"
        placeholder="Enter First name"
        [control]="firstName"
      ></app-input
      ><br />
      <label for="lname"><strong>Last Name</strong></label
      ><br />
      <app-input
        type="text"
        placeholder="Enter Last Name"
        [control]="lastName"
      ></app-input>
      <label for="uname"><strong>Username</strong></label>
      <app-input
        type="text"
        placeholder="Enter Username"
        [control]="userName"
      ></app-input>
      <label for="mail"><strong>E-mail</strong></label>
      <app-input
        type="text"
        placeholder="Enter E-mail"
        [control]="email"
      ></app-input>
      <label for="psw"><strong>Password</strong></label>
      <app-input
        type="password"
        placeholder="Enter Password"
        [control]="password"
      ></app-input>
    </div>
    <button (click)="register($event)" [disabled]="!registerForm.valid">
      <strong>SIGN UP</strong>
    </button>
    <div class="container" style="background-color: #eee">
      <label style="padding-left: 15px">
        <input type="checkbox" checked="checked" name="remember" id="rem" />
        Remember me
      </label>
      <span class="psw"><a href="#">Forgot password?</a></span>
    </div>
  </div>
</form>
