<div
  [ngClass]="{
    hideModal: !modal.isModalOpen(modalID),
    showModal: modal.isModalOpen(modalID)
  }"
>
  <div class="modal-content animate">
    <span class="close" title="Close Modal" (click)="modal.toggleModal(modalID)"
      >&times;</span
    >
    <ng-content select="[title]"></ng-content>
    <ng-content select="[staffTitle]"></ng-content>

    <!-- <ng-content></ng-content> -->
    <div class="container" style="background-color:#f1f1f1">
    <button
      type="button"
      (click)="modal.toggleModal(modalID)"
      class="cancelbtn"
    >
      Cancel
    </button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
  </div>
 
</div>
