/* The alert message box */
.test {
  padding: 15px;
  background-color: #f44336; /* Red */
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
  margin: auto;
  width: fit-content;
}
