<form [formGroup]="registerForm">
  <app-alert></app-alert>
  <div class="imgcontainer" title>
    <h2>Login Form</h2>
  </div>
  <div class="form-content">
    <label for="uname"><b>Username: </b></label>
    <app-input
      [control]="name"
      type="text"
      placeholder="Enter Username"
    ></app-input>
    <label for="psw"><b>Password: </b></label>
    <app-input [control]="password"></app-input>

    <button class="loginbtn" type="submit">Login</button><br />
    <label>
      <input type="checkbox" checked="checked" name="remember" /> Remember me
    </label>
  </div>
</form>
