/* Full-width input fields */
input[type='text'],
input[type='password'] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 10px solid #ccc;
  box-sizing: border-box;
}
