/* Full-width input fields */

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 10px solid #ccc;
  box-sizing: border-box;
}

.error {
  color: red;
}
